@model IEnumerable<JobApply.Models.JobOfferViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row mb-2">
    <div class="col-md-10 d-flex align-items-center py-2">
        <h2 class="font-weight-bold mb-0">Job Offer List</h2>
        <div>
            <span class="badge badge-pill badge-primary align-top">
                @Model.Count()
            </span>
        </div>
    </div>
    <button class="btn btn-rounded btn-outline-primary col-md-2" data-toggle="modal" onclick="location.href='@Url.Action("Create", "JobOffers")'">
        <i class="fa fa-plus pr-3"></i>
        Add new job offer
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.JobTitle</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkStartDate)
                </td>

                <td>
                    <a 
                        href="@Url.Action("Edit", "JobOffers", new { id = item.Id })"
                        class="text-primary">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
